[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bs4 = "*"
loguru = "*"
pytz = "*"
requests = "*"
waybackpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
